html {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.what-can {
    text-align: center;
}

.about-section {
    padding: 20px;
    text-align: center;
    background-color: black;
    color: antiquewhite;
}

.item {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.item-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.main-images {
    width: 100%;
    height: 400px;
}

.footer {
    background-color: black;
    padding-top: 50px;
    font-size: 15px;
    line-height: 20px;
    color: antiquewhite;
}

.container {
    padding: 0 10px;
}

.container::after, .row::after {
    clear: both;
    display: table;
    content: "";
}

.footer h6 {
    color: antiquewhite;
    font-size: 20px;
    margin: -15px 0 -10px 0;
}

.footer-link-item {
    color: darkgray;
}

.footer-link-item:hover {
    color: antiquewhite;
    text-decoration: none;
}

.footer-links {
    list-style: none;
    text-align: center;
}

.footer-list-item {
    display: inline;
    text-decoration: none;
    margin: 10px;
}

.copyright-text {
    margin: 0;
    float: right;
}
